.graphics-graphicsOverlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background:var(--background-color);
    z-index: 1;
    display: box;
}

.graphics-main{
    margin: 5vw;
}

.graphics-side-bottom{
    margin: 5vw;
}

.graphics-content{
    max-width: 1920px;
    margin: auto;
}