.day{
    color:white;
    border-bottom: 2px solid transparent;
  }
  .day:hover{
    cursor: pointer;
    color: var(--font-hover-color);
    border-bottom: 2px solid var(--font-hover-color);
  }
  
  .date-range-div{
    display:grid;
  }
  
  .date-input{
    position: relative;
    display: inline-flex;
    min-width: 9vw;
    width: 9vw;
    justify-content: center;
  }