:root {
  --background-color: #282c34;
  --background-hover-color: #2020206b;
  --font-color: white;
  --font-hover-color: #0497ff;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header, .App-body, .App {
  background-color: var(--background-color);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App{
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* List css */
.App-list-container{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 80vh;
  min-width:  80vh;
  margin: auto;
}

.App-body-header{
  min-height: 10vh;
  display: inline-flex;
  align-items: flex-end;
  
}

.App-body-container{
  display: flex;
  flex-direction: row;
}

.App-list-right-buttons{
  width: 20vh;
  max-height: 80vh;
  overflow-y: auto;
}
/* Buttons */
.App-body-image-refresh{
  width: 3vh;
  height: 3vh;
}

/* Table */
table, tr{
  border:.5px solid white;
}

.trash-button{
  background: none;
  border: none;
}

.filter-checkbox{
  height: 24px;
  width: 24px;
}

.processList.table{
  border-collapse: collapse;
}

.App-list-content{
  margin:auto;
}

th{
  border-left:.5px solid white;
  border-collapse: collapse;
}

.th-process{
  min-width: 80%;
  width: 80%;
}


.change-list-button{
  width: 10vw;
  height: 5vh;
  min-width: 130px;
  min-height: 30px;
  border-radius: 50px;
}

.change-list-button:hover{
  cursor: pointer;
  background-color: silver;
}



.buttons-div{
  display: inline-flex;
  align-items: flex-end;
}
/* Header */

/* Header Above Table*/



/* Table Content*/

.a-process{
  cursor: pointer;
}

.a-process:hover{
  color: var(--font-hover-color);
}

td.processName{
  cursor: pointer;
}
td.processName:hover{
  color: var(--font-hover-color);
}

tr.process:hover{
  background-color: var(--background-hover-color);
}
